import java.nio.file.Paths


params {
	config_dir = "conf"
	MD_ANACONDA = "Anaconda3/2020.07" 
	CONDA_ENV = "/camp/stp/babs/working/schneid/conda/envs/R-4.2-Seurat"
}

//
// General configuration options
//

process {
    cpus = 1
    memory = "20G"
    time = "2:00:00"

    withLabel:save_output {
    	publishDir = [
        	path: "${params.outdir}",
        	mode: "copy",
        	overwrite: true
    	]
    }
    withName: make_scv_file { 
        publishDir = [
                path: "${params.outscv}",
                mode: "copy",
                overwrite: true
        ]
    }
}

includeConfig "${params.config_dir}/singularity.config"
includeConfig "${params.config_dir}/local.profile"
