singularity {
        enabled = true
        runOptions = "-B /camp"
}


executor {
   name= 'slurm'  
}

//
// General configuration options
//

process {
    publishDir = [
        path: "${params.outdir}",
        mode: "copy",
        overwrite: true
    ]

    withName: make_scv_file { 
        publishDir = [
                path: "${params.outscv}",
                mode: "copy",
                overwrite: true
        ]
    }
}
